{
  "app": {
    "guid": "a5a39117-02ce-4daa-9a1a-ab7414f2d5e5"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "YTVhMzkxMTctMDJjZS00ZGFhLTlhMWEtYWI3NDE0ZjJkNWU1",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.getstarted",
      "backend": "true",
      "theme": "Material",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "xframeOptions": "SameOrigin"
}